<!DOCTYPE html>
{% load staticfiles %}
<head>
	{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}
	{# Load CSS and JavaScript #}
	{% block stylesheets %}
	<link rel=StyleSheet href="{% static "libs/bootstrap/dist/css/bootstrap.min.css"%}" type="text/css" media=screen>
	{% endblock %}
	{% block scripts %}
	{#<script src="{% static "libs/openlayers/lib/OpenLayers.js"%}"></script>#}
		<script src="{% static "libs/openlayers.min/OpenLayers.js"%}"></script>
		<script src="{% static "libs/jquery/dist/jquery.min.js"%}"></script>
		<script src="{% static "libs/bootstrap/dist/js/bootstrap.min.js"%}"></script>
	{% endblock %}
	<title>
		{% block title %}
			Wait Lanes
		{% endblock %}
	</title>
</head>
{% block body %}
	<body>
{% endblock %}
		{% block base-main %}
		{% endblock %}
</body>
