{% extends "WaitLanesBase.html" %}
{% block scripts %}
	{{ block.super }}
	{% load staticfiles %}
	<script src="{% static "js/WaitLanes.js"%}"></script>
	<script>
		function init()	{
			{% for fieldName, fieldValue in WaitLane.items %}
				{% if "File" in fieldName %}
					maps["WLMap_{{fieldName}}"] = showGeoJsonOnMap("WLMap_{{fieldName}}","/media/{{fieldValue}}");
				{% endif %}
			{% endfor %}
		}
	</script>
{% endblock %}
{% block body %}
	<body onLoad="init()">
{% endblock %}
{% block base-main %}
	{% load widget_mod %}
	{% load field_mod %}
	<div class="container">
		<div class="row">
			<h2>{{ WaitLane.name }}       <small>{{ WaitLane.id }}</small></h2>
		</div>
		{#{{ WaitLane|diry }}#}
		{% for fieldName, fieldValue in WaitLane.items %}
			{% if "File" in fieldName %}
				<div class="row">
					<div class="col-md-12">
						<h4>{{ fieldName|returnUserReadableLabel }}</h4>
					</div>
				</div>
				<div class="row">
					<p>/media/{{ fieldValue }}</p>
				</div>
				<div class="row">
					<div id="WLMap_{{fieldName}}" class="col-md-6">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
