{% extends "WaitLanesBase.html" %}
{% block scripts %}
	{{ block.super }}
	{% load staticfiles %}
	<script src="{% static "js/WaitLanes.js"%}"></script>
{% endblock %}
{% block body %}
	<body onLoad="init()">
{% endblock %}
{% block base-main %}
	{% load widget_mod %}
	{% load field_mod %}
	<div class="container">
		<div class="row">
			<h2>{{ WaitLane.name }}       <small>{{ WaitLane.id }}</small></h2>
		</div>
		{#{{ WaitLane|diry }}#}
		{% for fieldName, fieldValue in WaitLane.items %}
			{% if "File" in fieldName %}
				<div class="row" class="col-md-12">
					<h4>{{ fieldName|returnUserReadableLabel }}</h4>
				</div>
				<div class="row">
					<p>/media/{{ fieldValue }}</p>
				</div>
				<div class="row">
					<div id="map_{{fieldName}}" class="col-md-12">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<script>
		function init()	{
		{% for fieldName, fieldValue in WaitLane.items %}
			showGeoJsonOnMap("map_{{fieldName}}","/media/{{fieldValue}}");
		{% endfor %}
		}
	</script>
{% endblock %}
