{% extends "WaitLanesBase.html" %}
{% block scripts %}
	{{ block.super }}
	{% load staticfiles %}
	<script src="{% static "js/WaitLanes.js"%}"></script>
	<script>
		function init()	{
			{% for fieldName, fieldValue in WaitLane.items %}
				{% if "File" in fieldName %}
					maps["WLMap_{{fieldName}}"] = showGeoJsonOnMap("WLMap_{{fieldName}}","/media/{{fieldValue}}");
				{% endif %}
			{% endfor %}
		}
	</script>
{% endblock %}
{% block body %}
	<body onLoad="init()">
{% endblock %}
{% block base-main %}
	{% load widget_mod %}
	{% load field_mod %}
<div class="container">
	<div class="page-header">
		<h1>Viewing, <em>{{WaitLane.name}}</em>   <small>{{WaitLane.id}}</small></h1>
		<div style="padding-left: 10px">
			<img src="{{ WaitLane.originCountry.flag }}" title="{{ WaitLane.originCountry.name }}">
			<span class="glyphicon glyphicon-arrow-right"></span>
			<img src="{{ WaitLane.destinationCountry.flag }}" title="{{ WaitLane.destinationCountry.name }}">
		</div>
	</div>
	<div class="row" style="padding-bottom: 20px">
		<div class="col-md-12">
			<a href="/WaitLanes/edit/{{WaitLane.id}}/">
			<button type="button" class="btn btn-default">
				edit this
			</button>
			</a>
			<a href="/WaitLanes/list/">
			<button type="button" class="btn btn-default">
				view all
			</button>
			</a>
		</div>
	</div>
	{#{{ WaitLane|diry }}#}
	{% for fieldName, fieldValue in WaitLane.items %}
		{% if "File" in fieldName %}
			<div class="row">
				<div class="col-md-12">
					<h4>{{ fieldName|returnUserReadableLabel }}</h4>
				</div>
			</div>
			{% comment %}
			<div class="row">
				<p>/media/{{ fieldValue }}</p>
			</div>
			{% endcomment %}
			<div class="row">
				<div class="col-md-6">
					<div id="WLMap_{{fieldName}}" class="col-md-6">
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}
